[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes

[Service]
EnvironmentFile=-{{ kube_config_dir }}/{{ kube_scheduler_config_file }}
User={{ kube_user }}
ExecStart=/usr/local/bin/kube-scheduler \
						$KUBE_LOGTOSTDERR \
                        $KUBE_LOG_LEVEL \
                        $KUBE_MASTER \
                        $KUBE_SCHEDULER_ARGS
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
