###
# kubernetes scheduler config

# --logtostderr=true: log to standard error instead of files
KUBE_LOGTOSTDERR="{{ kube_logtostderr }}"

# --v=0: log level for V logs
KUBE_LOG_LEVEL="{{ kube_log_level }}"

KUBE_MASTER="{{ kube_master }}"

# Add your own!
KUBE_SCHEDULER_ARGS="{{ kube_scheduler_args }}"

